.navbar-header {
    float: unset
}

.navbar-title{
    font-size: 48px;
    font-weight: inherit;
    margin-top:0;
    color: #080C80;
    text-transform: none;
}

.login-pf body {
    background: url("../img/bg-login.png") no-repeat center center fixed;
    background-size: cover;
    height: 100%;
}

.login-pf-page .login-pf-settings {
    float: left;
}

.pf-c-form__label-text {
    font-size: 14px

}

.pf-c-button.pf-m-control {
    border: none;
    background-color: #080C80;
    color: #fff;
}

.pf-c-button.pf-m-control:hover {
    background-color: var(--pf-global--primary-color--100);
    color: #fff;
}

.kc-social-item {
    font-size: 14px;
}

.kc-social-gray {
    color: #000;
    color: var(--pf-global--Color--200);
    font-size: 14px;
}

.btn-primary {
    background-color:#080C80;
    background-image: none;
    border-color: #00659c;
    color: #fff;
}


.login-pf-header h1 {
    font-weight: normal;
    font-size: 24px;
    color: #080C80;
}

.kc-social-section h1 {
    font-weight: normal;
    font-size: 24px;
    color: #080C80;
}

.login-pf a:hover {
    color: #080C80;
}

a {
    color: #080C80;
    text-decoration: none;
}

.pf-c-button.pf-m-primary {
    color: #fff;
    background-color: #080C80;
}

.pf-c-button.pf-m-primary:hover {
    background-color: var(--pf-global--primary-color--100);
}

.form-group.login-pf-settings a{
    color: #080C80;
    font-size: 15px;
}

.kc-social-section.kc-social-gray h1{
    font-weight: normal;
    font-size: 24px;
    color: #080C80;
}