*{
    box-sizing: border-box;
}

@font-face{
    font-family:'sansanormal';
    src:url("../fonts/sansa/normal_pack/normal/sansapro-normal.eot#iefix") format("embedded-opentype"),url("../fonts/sansa/normal_pack/normal/sansapro-normal.woff") format("woff"),url("../fonts/sansa/normal_pack/normal/sansapro-normal.svg") format("svg");
    font-weight:normal;
    font-style:normal
}
@font-face{
    font-family:'sansanormalitalic';
    src:url("../fonts/sansa/normal_pack/normal_italic/sansapro-normalitalic.eot#iefix") format("embedded-opentype"),url("../fonts/sansa/normal_pack/normal_italic/sansapro-normalitalic.woff") format("woff"),url("../fonts/sansa/normal_pack/normal_italic/sansapro-normalitalic.svg") format("svg");
    font-weight:normal;
    font-style:normal
}
@font-face{
    font-family:'sansalight';
    src:url("../fonts/sansa/light_pack/light/sansapro-light.eot#iefix") format("embedded-opentype"),url("../fonts/sansa/light_pack/light/sansapro-light.woff") format("woff"),url("../fonts/sansa/light_pack/light/sansapro-light.svg") format("svg");
    font-weight:normal;
    font-style:normal
}
@font-face{
    font-family:'sansasemibold';
    src:url("../fonts/sansa/semi_bold_pack/semibold/sansapro-semibold.eot#iefix") format("embedded-opentype"),url("../fonts/sansa/semi_bold_pack/semibold/sansapro-semibold.woff") format("woff"),url("../fonts/sansa/semi_bold_pack/semibold/sansapro-semibold.svg") format("svg");
    font-weight:normal;
    font-style:normal
}

html{
    font-family:sans-serif;
    -ms-text-size-adjust:100%;
    -webkit-text-size-adjust:100%;
    padding:0;
    margin:0;
 /*   overflow-y: scroll;*/
}

select {
    height: 30px;
}

body{
    padding:0;
    margin:0;
    border:none;
    position:relative;
    background-color:#fff;
    color:#000;
    font-family:"SansaNormal",sans-serif;
    font-size:14px;
    min-width:320px;
    width:100%;
   /* min-height:100vh;*/
}

.navbar.header {
    overflow: visible;
    background-color: #fff;
    height:94px;
    color:#fff;
    padding: 8px;
    /*border-bottom: 1px solid #666;
    border-top: 1px solid #666;*/
}

.navbar-title{
    font-size: 48px;
    margin-top:0;
    color: #92b6c7;
}

/* link style */
a
{
    text-decoration: none;
    color: #92b6c7;
    font-weight: bold;

}

.navbar-header {
    /*width:256px;*/
    margin-left:120px;
    float:left;
}

.navbar-title{
    font-size: 48px;
    margin-top:0;
}

.navbar-nav {
    list-style-type:none;
    float:right;
}

.navbar-nav li{
    padding:4px;
    font-size: 10pt;
}

.navbar-nav a{
    color:#fff;
    text-decoration: underline;
}

.container-content{
    width:50%;
    margin:0 auto;
    padding-bottom:128px;
}

.sub-bar{
    width: 100%;
    margin: 32px 0 32px 0;
    display: inline-block;
}

.sub-bar ul{
    margin: 0;
    padding: 0;
}

.sub-bar li{
    float:left;
    list-style-type: none;
    padding: 4px 24px 4px 0;
    font-size: 24px;
}

.sub-bar li:not(:first-child):before {
    content:'|';
    margin-right:24px;
}

.sub-bar li a{
    font-size: 24px;
    color:#080C80;
    text-decoration: none;
}

.sub-bar li a:hover{
    text-decoration: underline;
}

.sub-bar li.active a{
    color:#008fc5;
    text-decoration: underline;
}

.content-area{
    padding:4px;
    width:100%;
    display: inline-block;
}

.content-area > .row > *{
    max-width: 500px;
}

form{
    background: #F0F4FF;
    padding: 20px;
    margin-bottom:32px;
}

form input[type="text"], input[type="password"]{
    padding:8px 4px;
    min-width: 250px;
    width: 100%;
    border: 1px solid #cecece;
}

.form-group {
     margin:16px 0 10px;
}

form button,form input[type="submit"], .button {
    font-family:inherit;
    font-size:100%;
    text-transform:none;
    cursor:pointer;
    background:#080C80;
    color:#fff;
    line-height:40px;
    padding:0 20px;
    display:inline-block;
    text-decoration:none;
    -webkit-appearance:none;
    border:none;
    outline:none;
    border-radius:0;
    margin:16px 0 10px;
}

form button:disabled, form button[disabled]{
    background-color: #666;
}
#kc-social-providers ul
{
    list-style-type: none;
    padding: 0;
}

.form-group.remove-margin 
{
    margin: 0px;
}

.align-right
{
    text-align:right;
}

a.button 
{
    font-weight: normal;
}

table{
    border-collapse:collapse;
    background:#e5eef2;
    border:0px solid #fff;
    width:100%;
}

tr{
    border-width:1px 0;
    border-style:solid;
}

th,td{
    border:0;
    vertical-align:middle;
    padding:8px 20px;
}

th strong,td strong{
    text-decoration: underline;
    font-style: italic;
    font-weight: normal;
}

thead, thead tr, thead td{
    padding:.7em .3em;
    text-align:center;
    font-weight:bold;
    border:0;
}

.footer-pos{
    position:absolute;
    bottom:0;
    height:128px;
    width:100%;
}

.footer{
    background:#080C80;
    width:100%;
    height:128px;
}
.footer {
    color: #fff;
}
.footer .misc-column{
    max-width: 500px;
    float:right;
    text-align:right;
    clear:none;
    margin-top:0;
}

.footer .misc-column a{
    margin-right:0;
    font-weight: normal;
}

.footer a{
    color:#fff;
    text-decoration: none;
}

.inner-footer{
    max-width:1170px;
    margin:0 auto;
    overflow:hidden;
    padding:18px 30px 50px 30px;
    position:relative;
}

.inner-footer:before{
    content:'';
    position:absolute;
    top:-7px;
    width:80%;
    height:5px;
    left:10%;
    -webkit-border-radius:50%;
    border-radius:50%;
    -webkit-box-shadow:1px 1px 18px #082152;
    box-shadow:1px 1px 18px #082152
}

.login-container-content{
    width:50%;
    margin:120px auto;
    padding-bottom:128px;
   /* border: 1px solid #666;*/
    padding-top:40px;
    min-width: 380px;
	max-width: 800px;
}

.darkurl
{
    color:#000;
}

.login-container-content > *
{
    width:50%;
    margin:0 auto;
    min-width: 256px;
}

.login-container-content input[type="submit"]{
    width:100%;
}

.login-container-content input[type="submit"]{
    width:100%;
}

.login-container-content form
{
    background-color: #fff;
    padding:0px;
}

.login-container-content h1{
    font-weight: normal;
    font-size: 24pt;
}

.alert-error
{
    color:#ff0000;
    background-color:#ffcccc; 
    padding:8px;
}

#kc-locale ul {
    display: none;
    position: relative;
    background-color: #fff;
    list-style: none;
    right: 0;
    top: 0px;
    
    padding: 2px 0;
    border: solid 1px #bbb;
}

#kc-locale:hover ul {
    display: block;
    margin: 0;
}

#kc-locale ul li a {
    display: block;
    
    color: #000 !important;
    text-decoration: none;
    line-height: 20px;
    text-align: right;
}

#kc-locale ul li a:hover {
    color: #4d5258;
    background-color: #d4edfa;   
}

#kc-locale-dropdown a {
    color: #000;
    background: 0 0;
    padding: 0 15px 0 0;
    font-weight: 300;
    text-decoration: none;
}

#kc-locale-dropdown a:hover {
    text-decoration: none;
}

a#kc-current-locale-link {
    display: block;
    padding: 0 5px;
    text-align: right;
}

/* a#kc-current-locale-link:hover {
    background-color: rgba(0,0,0,0.2);
} */

a#kc-current-locale-link::after {
    content: "\2c5";
    margin-left: 4px;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

/* Popup container */
/*.popup {*/
/*    position: relative;*/
/*    display: inline-block;*/
/*    cursor: pointer;*/
/*}*/

/* The actual popup (appears on top) */
/*.popup .popuptext {*/
/*    visibility: hidden;*/
/*    width: 160px;*/
/*    background-color: #555;*/
/*    color: #fff;*/
/*    text-align: center;*/
/*    border-radius: 6px;*/
/*    padding: 8px 0;*/
/*    position: absolute;*/
/*    z-index: 1;*/
/*    bottom: 125%;*/
/*    left: 50%;*/
/*    margin-left: -80px;*/
/*}*/

/* Popup arrow */
/*.popup .popuptext::after {*/
/*    content: "";*/
/*    position: absolute;*/
/*    top: 100%;*/
/*    left: 50%;*/
/*    margin-left: -5px;*/
/*    border-width: 5px;*/
/*    border-style: solid;*/
/*    border-color: #555 transparent transparent transparent;*/
/*}*/

/* Toggle this class when clicking on the popup container (hide and show the popup) */
/*.popup .show {*/
/*    visibility: visible;*/
/*    -webkit-animation: fadeIn 1s;*/
/*    animation: fadeIn 1s*/
/*}*/

/*!* Add animation (fade in the popup) *!*/
/*@-webkit-keyframes fadeIn {*/
/*    from {opacity: 0;}*/
/*    to {opacity: 1;}*/
/*}*/

/*@keyframes fadeIn {*/
/*    from {opacity: 0;}*/
/*    to {opacity:1 ;}*/
/*}*/