body{
    font-size: 14px;
    background-color: #fff;
}
.navbar-header {
    float: inherit;
    color:#080C80;
}
.bs-sidebar {
    background-color: #fff;
}
.navbar-pf {
    background-color: #fff;
    height: 128px;

}
.navbar-pf .navbar-header {
    border-bottom: none;
}

.sign-out {
    float: right;
    padding: 10px
}
.referrer {
    float: left;
    padding: 10px;
}

.navbar-pf .navbar-utility > li > a {
    color: #080C80 !important;
    padding-top: 0;
    font-size:  14px;
    line-height: 14px;
}

.kc-dropdown > a {
    line-height: 14px;
    font-size: 14px;
    color:  #080C80 !important;
}

.btn-primary {
    background-color:#080C80;
    background-image: none;
    border-color: #00659c;
    color: #fff;
}


.avatar-button {
    background-color:#080C80;
    color: #fff;
    padding: 5px;
    margin: 10px;
}

input[type="file"] {
    display: none;
}

.navbar-title{
    background: none;
    font-size: 48px;
    font-weight: inherit;
    text-transform: none;
    text-indent: 0;

    width: auto;
    height: auto;

}

.container {
    height: unset;
}
a {
    color: #080C80;;
}

a:focus, a:hover {
    color:#080C80;
    text-decoration: underline;
}

/*.footer{*/
/*    color: #fff;*/
/*    background: #080C80;*/
/*    width: 100%;*/
/*    height: 100px;*/
/*}*/

/*.footer a{*/
/*    color: #fff;*/
/*}*/

/*.footer .inner-footer div {*/
/*    color: white;*/
/*    text-align: right;*/
/*    margin-right: 10px;*/
/*}*/