<div class="col-sm-9 col-md-10 col-sm-push-3 col-md-push-2" ng-init="init()">

    <kc-tabs-attributes></kc-tabs-attributes>

    <form class="form-horizontal" name="realmForm" novalidate kc-read-only="!access.manageRealm">
        <div class="form-group clearfix">
            <label class="col-md-2 control-label" for="exportAttributes"><span class="required">*</span> {{:: 'attribute-label' | translate}}</label>
            <div class="col-md-6">
                <input class="form-control" id="exportAttributes" type="text" ng-model="query.search" placeholder="{{:: 'attribute-hint' | translate}}" required>
            </div>
            <div class="col-sm-4">
                <a class="btn btn-primary" data-ng-click="exportUserAttributes()">{{:: 'attribute-export' | translate}}</a>
            </div>
        </div>

    </form>
</div>

<kc-menu></kc-menu>
