<div class="col-sm-9 col-md-10 col-sm-push-3 col-md-push-2" xmlns:form="http://www.w3.org/1999/xhtml">
    <ol class="breadcrumb">
        <li><a href="#/realms/{{realm.realm}}/mailings">{{:: 'mailings' | translate}}</a></li>
        <li data-ng-hide="create">{{mailing.name}}</li>
        <li data-ng-show="create">{{:: 'add-mailing' | translate}}</li>
    </ol>

    <kc-tabs-mailing></kc-tabs-mailing>

    <form class="form-horizontal" name="mailingForm" novalidate kc-read-only="!create && !mailing.access.manage">

        <fieldset class="border-top">
            <div class="form-group">
                <label class="col-md-2 control-label"for="id">{{:: 'id' | translate}}</label>
                <div class="col-md-6">
                    <input class="form-control" type="text" id="id" name="id" data-ng-model="mailing.id" autofocus data-ng-readonly="true">
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-2 control-label"for="id">{{:: 'created-at' | translate}}</label>
                <div class="col-md-6">
                    {{mailing.createdTimestamp|date:'shortDate'}}&nbsp;{{mailing.createdTimestamp|date:'mediumTime'}}
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-2 control-label"for="name">{{:: 'mailing-name' | translate}} <span class="required" data-ng-show="create">*</span></label>
                <div class="col-md-6">
                    <!-- Characters >,<,/,\ are forbidden in username -->
                    <input class="form-control" type="text" id="name" name="name" data-ng-model="mailing.name" autofocus
                           required ng-pattern="/^[^\<\>\\\/]*$/" >
                </div>
            </div>

            <div class="form-group ">
                <label class="col-md-2 control-label" for="languages">{{:: 'mailing-languages' | translate}}</label>
                <div class="col-md-6">
                    <div>
                        <select class="form-control" id="languages"
                                ng-model="mailing.languages"
                                ng-options="o as o for o in realm.supportedLocales" multiple>
                            <option value="" disabled >{{:: 'select-multi.placeholder' | translate}}</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="form-group ">
                <label class="col-md-2 control-label" for="frequency">{{:: 'mailing-frequency' | translate}}</label>
                <div class="col-md-6">
                    <div>
                        <select class="form-control" id="frequency"
                                ng-model="mailing.frequencyTxt"
                                ng-options="o as o for o in mailing.supportedFrequencies">
                            <option value="" disabled>{{:: 'select-one.placeholder' | translate}}</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="form-group ">
                <label class="col-md-2 control-label" for="delivery">{{:: 'mailing-delivery' | translate}}</label>
                <div class="col-md-6">
                    <div>
                        <select class="form-control" id="delivery"
                                ng-model="mailing.deliveryTxt"
                                ng-options="o as o for o in mailing.supportedDeliveries">
                            <option value="" disabled>{{:: 'select-one.placeholder' | translate}}</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-2 control-label" for="description">{{:: 'mailing-description' | translate}}</label>
                <div class="col-md-6">
                    <textarea  class="form-control"  rows="3" name="description" id="description"
                               data-ng-model="mailing.description" placeholder="{{::'mailing-description-info' | translate}}" ></textarea>
                </div>
            </div>

        </fieldset>

        <div class="form-group">
            <div class="col-md-10 col-md-offset-2" data-ng-show="create && access.manageUsers">
                <button kc-save data-ng-show="changed">{{:: 'save' | translate}}</button>
                <button kc-cancel data-ng-click="cancel()">{{:: 'cancel' | translate}}</button>
            </div>

            <div class="col-md-10 col-md-offset-2" data-ng-show="!create && mailing.access.manage">
                <button kc-save  data-ng-disabled="!changed">{{:: 'save' | translate}}</button>
                <button kc-reset data-ng-disabled="!changed">{{:: 'cancel' | translate}}</button>
            </div>
        </div>

    </form>
</div>

<kc-menu></kc-menu>
